.navSection{
    position:fixed;
    background-color: #455A64;
    color:white;
    height:50px;
    width:100%;
    top:0;
    left:0;
}

.navBody{
    display:table;
    padding:5px 15px 5px 15px;
    width:100%;
    height:100% - 3px;
}

.logo{
    display:table-cell;
    height: 100%;
    vertical-align: middle;
    font-size: 2em;
}

.navLinks{
    display:table;
    height:100%;
    float:right;
    vertical-align:middle;
    font-size: 2em;
}

